* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

/*header*/
header {
    height: 20vh;
}

#topHeader {
    /*background-color: ghostwhite;*/
    border-bottom: 1px solid #ebebeb;
}

#topHeader a {
    color: #2c3e50;
    font-size: 0.89rem;
    font-weight: 600;
}

#bottomHeader {
    flex-grow: 1;
    /* Allow the bottom header to fill the remaining space */
    display: flex;
    /* Ensure the navbar is a flex container */
    align-items: center;
    /* Center the navbar content vertically */
    background-color: #3f718d;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


.custom-navbar {
    background-color: #3f718d;
}

nav ul li a {
    font-size: 1rem;
    font-weight: 500;
}

.navbar-nav .nav-link {
    position: relative;
    /* Position relative for pseudo-element */
    text-decoration: none;
    /* Remove default underline */
    color: black;
    /* Default text color */
    transition: color 0.3s;
    /* Smooth transition for text color */
}



/*end header*/


/*footer*/
.full-footer {
    background-color: #3f718d;
    /* position:absolute; /*meaning i can place the footer anywhere i want*/
    bottom: 0;
    width: 100%;
}

.socials a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.2rem;
}

.socials a:hover {
    color: #1d4f5b;
    text-decoration: none;
}

.top-footer p {
    color: white;
}

.top-footer a {
    color: white;
    font-weight: 600;
}

.top-footer h3 {
    color: white;
}


.bottom-footer {
    background-color: #2c3e50;
    margin: 0;
}

.bottom-footer p {
    color: white;
}

#bottom-footer {
    width: 100%;
}

/*footer end*/


/*hero section*/

.first-hero-section {
    height: 80vh;
}

.second-hero-section img {
    max-width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.second-hero-section img:hover {
    transform: scale(1.05);
}

@media (max-width: 991.98px) {
    .navbar-collapse.show+.first-hero-section {
        margin-top: 200px;
    }
}

/*end of hero*/

/*start of home*/

.requirements-section {
    background-color: #3f718d;
    color: #ffffff;
}

.subscribe-section {
    background-color: #3f718d;
    color: #ffffff;
}

.subscribe-section .form-control {
    height: 50px;
    border-bottom: transparent;
    border-radius: 20px 0 0 20px;
}

.subscribe-section .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
}

.services-section img {
    max-width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.services-section img:hover {
    transform: scale(1.05);
}

.testimonial-section {
    background-color: #597a8e1f;
    color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
    background-size: 100%, 100%;
    border-radius: 50%;
    filter: invert(0);
}

.carousel-captions {
    left: 0;
    right: auto;
    text-align: left;
    padding: 0 15px;
    color: black;
    align-items: center;
}

.carousel-captions h5,
.carousel-captions h6 {
    color: #3f718d;
    ;
}

/*about us page*/
.breadcrumbs-section {
    background-color: #3f718d;
    color: #ffffff;
}

#stats {
    color: #2c3e50;
}

.about-us-detail h3 {
    color: #3f718d
}