* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --graphite-bg: #2D2D2D;
    --dark-light-bg:#3A3A3A;
    --dark-text: #999797;
    --pink-color:#ee16b1;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    background-color: var(--graphite-bg);
    color: #FFFFFF;
}

/*header*/
header {
    height: 20vh;
}

#topHeader {
    /*background-color: ghostwhite;*/
    border-bottom: 1px solid #999797;
}

#topHeader a {
    color: var(--dark-text);
    font-size: 0.89rem;
    font-weight: 600;
}

#bottomHeader {
    flex-grow: 1;
    /* Allow the bottom header to fill the remaining space */
    display: flex;
    /* Ensure the navbar is a flex container */
    align-items: center;
    /* Center the navbar content vertically 
    background-color: #3f718d;*/
    background-color: var(--graphite-bg);
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


.custom-navbar {
    background-color: var(--graphite-bg);

}

nav ul li a {
    font-size: 1rem;
    font-weight: 500;
}

.navbar-nav .nav-link {
    position: relative;
    /* Position relative for pseudo-element */
    text-decoration: none;
    /* Remove default underline */
    color: var(--dark-text);
    /* Default text color */
    transition: color 0.3s;
    /* Smooth transition for text color */
}



/*end header*/


/*footer*/
.full-footer {
    background-color:var(--graphite-bg);
    /* position:absolute; /*meaning i can place the footer anywhere i want*/
    bottom: 0;
    width: 100%;
}

.socials a {
    color:var(--dark-text);
    text-decoration: none;
    font-weight: bold;
    padding: 0.2rem;
}

.socials a:hover {
    color: var(--pink-color);
    text-decoration: none;
}

.top-footer p {
    color: white;
}

.top-footer a {
    color: var(--dark-text);
    font-weight: 600;
}

.top-footer h3 {
    color: white;
}


.bottom-footer {
    background-color:var(--graphite-bg);
    margin: 0;
}

.bottom-footer p {
    color: white;
    font-size: clamp(0.2rem, 3vw, 1rem);

}

#bottom-footer {
    width: 100%;
}

#footer-logo {
    max-width: clamp(100px, 12vw, 2000px); /* Minimum 100px, scales with viewport, maximum 150px */
    height: auto; /* Maintains aspect ratio */
}

/*footer end*/


/*hero section*/

.ffirst-hero-section {
    height: 100vh;
}

.first-hero-section p {
    color: var(--dark-text);

}

.btn-primary {
    border-radius: 50px;
    padding: 12px 24px;
    /* Added padding for a more substantial button */
    font-weight: 600;
    /* Slightly bolder text for emphasis */
    color: #fff;
    background-color: var(--pink-color);
    transition: all 0.3s ease;
    /* Smooth transition for all effects */
    margin: auto;
    margin-right: 15px;
    font-size: clamp(0.2rem, 3vw, 1rem);
    /* Scales from 2.5rem to 6rem based on viewport width */
}

.btn-primary:hover {
    box-shadow: 0 12px 30px rgba(238, 22, 177, 0.4);
    /* Softer, more diffused shadow */
    transform: scale(1.05);
    /* Slightly increases button size for a 'pop' effect */
    background-color: #d0149d;
    /* Darker shade on hover for contrast */
}

.badge-lg {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    /* Starts at 0 and scales up to 3rem */
    padding: clamp(0em, 0.5vw, 0.5em) clamp(0em, 2vw, 2em);
    /* Starts at 0 and scales for vertical and horizontal padding */
    margin: clamp(0.1em, 1vw, 1em);
    /* Starts with a small margin and scales up */
    color: var(--dark-text);
}



.first-hero-section h2 {
    font-size: clamp(2.0rem, 8vw, 6rem);
    /* Scales from 2.5rem to 6rem based on viewport width */
    font-weight: bold;
    line-height: 1.2;
    color: #FFFFFF;
    padding: 10px;
}

.second-hero-section hr {
    background-color: var(--dark-text);
}

.second-hero-section img {
    max-width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.second-hero-section img:hover {
    transform: scale(1.05);
}

.second-hero-section h1,
.services-section h1 {
    font-size: clamp(2.0rem, 4.5vw, 6rem);
    font-weight: bold;
    line-height: 1.2;
    color: #FFFFFF;
    padding: 10px;

}

.about-section h1,
.testimonial-section h1 {
    font-size: clamp(1.8rem, 2.5vw, 4rem);
    font-weight: bold;
    line-height: 1.2;
    color: #FFFFFF;
    padding: 10px;
}

@media (max-width: 991.98px) {
    .navbar-collapse.show+.first-hero-section {
        margin-top: 200px;
    }
}

/*end of hero*/

/*start of home*/

.requirements-section {
    background-color: #3f718d;
    color: #ffffff;
}

.subscribe-section {
    background-color: #3f718d;
    color: #ffffff;
}

.subscribe-section .form-control {
    height: 50px;
    border-bottom: transparent;
    border-radius: 20px 0 0 20px;
}

.card {
    background-color: var(--dark-light-bg);
    color: #FFFFFF;
    /* Ensures readability */
    padding: 20px;
    border-radius: 8px;
    /* Adds a smooth, modern look */
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    /* Hidden initially for fade-in */
    animation: fadeInUp 0.008s forwards;
    margin-bottom: 2rem;
    text-align: center;
}


/* Hover effect on card */
.card:hover {
    transform: translateY(-10px);
    /* Slight lift */
    box-shadow: 0 8px 20px var(--pink-color);
}

/* Image styling inside card */
.card img {
    transition: transform 0.3s ease;
    /* Slight scale on hover */
    width: 100%;
    /* Set width to 100% of the card */
    height: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
    /* Cover the area without distortion */
}



.subscribe-section .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
}

.testimonial-section {
    background-color: var(--dark-light-bg);
    color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
    background-size: 100%, 100%;
    border-radius: 50%;
    filter: invert(0);
}

.carousel-captions {
    left: 0;
    right: auto;
    text-align: left;
    padding: 0 15px;
    color: white;
    align-items: center;
}

.carousel-captions h6,
    .carousel-captions h5 {
    color: var(--dark-text);

}

.carousel-captions i{
color: var(--pink-color);
font-size: 1.5em;
}


.testimonial-section img {
    border-radius: 50%;

}

/*about us page*/
.breadcrumbs-section {
    background-color: #3f718d;
    color: #ffffff;
}

#stats {
    color: white;
}

.about-us-detail img,
.our-team-section img,
.our-team {
    border-radius: 16px;

}


.our-team {
    margin-bottom: 50px;
}

.about-us-detail h3,
.about-section h3,
.services-section h3,
.testimonial-section h3 {
    color: #3f718d;
}

.manifesto-and-values img {
    width: 25%;
    padding-bottom: 10px;
}

.manifesto-and-values h5 {
    color: #3f718d;
}

.our-team-section img {
    width: 100%;
    align-self: center;
    padding-bottom: 5%;
}

.our-team-section p {
    color: var(--pink-color);
}

.contact-us h3 {
    color: #3f718d;
}

.form-group {
    font-size: clamp(10px, calc(16px + (24 - 16) * (100vw - 768px) / (1920 - 768)), 16px);
}


#socials-links {
    transition: transform 0.2s;
    font-size: 30px;
    padding-bottom: 25px;
    padding-top: 25px;
}

#socials-links:hover {
    transform: scale(3);
}

.contact-us-map h3 {
    color: #3f718d;
}